<!DOCTYPE html>
<html>
  <head>
    <%# <title>Baukis2</title> %>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%
=begin
%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%
=end
%>
    <%= stylesheet_link_tag 'customer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%
=begin
%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%
=end
%>
    <%# ¥ 2.ch.9.1.4 顧客自身によるアカウント管理機能 %>
    <%= javascript_pack_tag 'customer', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render "customer/shared/header" %>
      <div id="container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
