<!DOCTYPE html>
<html>
  <head>
    <%# <title>Baukis2</title> %>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%
=begin
%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%
=end
%>
    <%= stylesheet_link_tag 'staff', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# ¥ 2.ch.12.2.3 タグ付け - Tag-it CDN yarn不可だったのでCDNで対応 %>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">


<%
=begin
%>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%
=end
%>
  <%# ^ 20230814 追加 %>
  <%= javascript_pack_tag 'staff', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="wrapper">
    <%
=begin
%>
      <%= render "shared/header" %>
<%
=end
%>
      <%= render "staff/shared/header" %>
      <div id="container">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
