<% @title = "職員管理" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%# ¥ resources :staff_members から来ている 単数形になる 20230725 %>
    <%= link_to "新規登録", :new_admin_staff_member %>
  </div>

  <table class="listing">
    <tr>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>メールアドレス</th>
      <th>入社日</th>
      <th>退職日</th>
      <th>停止フラグ</th>
      <th>アクション</th>
    </tr>
    <% @staff_members.each do |m| %>
      <tr>
        <td><%= m.family_name %> <%= m.given_name %></td>
        <td><%= m.family_name_kana %> <%= m.given_name_kana %></td>
        <td class="email"><%= m.email %></td>
        <td class="date"><%= m.start_date.strftime("%Y/%m/%d") %></td>
        <%# ¥ その前の行と同様に Date クラスのインスタンスメソッド strftime を用いて日付をフォーマットしているのですが、属性 end_date は nil の場合があるため、メソッド try を利用しています。このメソッドはレシーバが nil であれば nil を返し、 nil でなければ第1引数に指定した名前のメソッドを呼び出します。第2引数以下はメソッドに引数として渡されます %>
        <td class="date"><%= m.end_date.try(:strftime, "%Y/%m/%d") %></td>
        <td class="boolean">
          <%= m.suspended? ? raw("&#x2611;") : raw("&#x2610;") %></td>
        <td class="actions">
        <%# ! 20230725 よくわからない %>

        <%# 結果: <a href="/admin/staff_members/6/edit">編集</a> %>
        <%# <a data-confirm="本当に削除しますか？" rel="nofollow" data-method="delete" href="/admin/staff_members/6">削除</a> %>
        <%# ¥ m には自動で idが入る %>
        <%# ¥ _pathヘルパーを用いて書いた場合 20230802 %>
        <%# ^ <%= link_to "編集", edit_admin_staff_member_path(m) %>
          <%= link_to "編集", [ :edit, :admin, m ] %> |
          <%= link_to "削除", [ :admin, m ], method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="links">
    <%= link_to "新規登録", :new_admin_staff_member %>
  </div>
</div>